<header id="top" class="header">
  <div class="text-vertical-center ">
    <h1 class="text-dark">
      <br />
      Solid Data
    </h1>
    <h3 class="text-dark">
      Production Quality Data Science, Machine Learning &amp; Artificial
      Intelligence
    </h3>
    <br />
    <a href="#about" class="btn btn-light btn-lg header-button">
      <img alt="" src="../img/dsbox_logo.png" width="30" height="30" />&nbsp
      Find Out More</a
    >
    &nbsp&nbsp&nbsp&nbsp
    <a href="#contact" class="btn btn-light btn-lg header-button">
      <img alt="" src="../img/dsbox_logo.png" width="30" height="30" />&nbsp
      Contact Us</a
    >
    <br />
  </div>
</header>
