<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2><strong>Examples of Our Work</strong></h2>
        <hr class="small" />
        <div class="row">
          <div class="col-md-12">
            <div class="media">
              <div class="media-left vertical-middle">
                <a href="#">
                  <span class="fa-stack fa-2x">
                    <i class="fa fa-copy fa-stack-2x text-primary"></i>
                  </span>
                </a>
              </div>
              <div class="media-body">
                <div class="bs-callout bs-callout-info">
                  <h4>Document Classification</h4>
                  Built production grade Natural Language Processing models for
                  classifying patent applications into their respective patent
                  classes. <br /><br />
                  <strong>Result: </strong>90% accuracy for predicting the top 3
                  patent classes.
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="media">
              <div class="media-left vertical-middle">
                <a href="#">
                  <span class="fa-stack fa-2x">
                    <i class="fa fa-check-square fa-stack-2x text-primary"></i>
                  </span>
                </a>
              </div>
              <div class="media-body">
                <div class="bs-callout bs-callout-info">
                  <h4>Recommender Systems</h4>
                  Developed and deployed a variety of RS frameworks across
                  advertising, e-commerce and email marketing applications.
                  <br /><br />
                  <strong>Result: </strong>Substantial lifts in
                  engagement/conversion each time.
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="media">
              <div class="media-left vertical-middle">
                <a href="#">
                  <span class="fa-stack fa-2x">
                    <i class="fa fa-dollar fa-stack-2x text-primary"></i>
                  </span>
                </a>
              </div>
              <div class="media-body">
                <div class="bs-callout bs-callout-info">
                  <h4>Budget Allocation</h4>
                  Created Machine Learning frameworks for resource allocation.
                  For example, we built a product that serves as the sole
                  revenue driver for a client that optimizes user conversion
                  rate through intelligent selection of allocated advertising
                  spend across a fixed set of demographics (e.g. gender, age,
                  etc.). <br /><br />
                  <strong>Result: </strong>Average 100% lift in conversion rate
                  as compared to a baseline (historic performance of the
                  advertisements) across clients.
                </div>
              </div>
            </div>
          </div>
          <!-- /.row (nested) -->
          <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
        </div>
        <!-- /.col-lg-10 -->
      </div>
      <!-- /.row -->
    </div>
  </div>
  <!-- /.container -->
</section>
